{% extends "base.html" %}

{% block content %}
  <h2>Neue Reise hinzufügen</h2>

  <form method="POST">
    <label for="zielort">Zielort:</label><br>
    <input type="text" id="zielort" name="zielort" required><br><br>

    <label for="anreise">Anreise:</label><br>
    <input type="date" id="anreise" name="anreise" required><br><br>

    <label for="abreise">Abreise:</label><br>
    <input type="date" id="abreise" name="abreise" required><br><br>

    <label for="notiz">Notiz:</label><br>
    <textarea id="notiz" name="notiz"></textarea><br><br>

    <label for="sehenswuerdigkeiten">Orte und Sehenswürdigkeiten für diese Reise:</label><br>
    <textarea id="sehenswuerdigkeiten" name="sehenswuerdigkeiten"></textarea><br><br>

    <button type="submit">Speichern</button>
  </form>
{% endblock content %}